@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up
}

@main(title, nav = "signup") {
    
    @helper.form(action = routes.SignUp.submit) {
        
        <fieldset>
            <legend>Account information</legend>
            
            @inputText(
                signupForm("email"),
                '_label -> "Email",
                '_help -> "Enter your email",
                '_error -> signupForm.globalError,
                'class -> "span3"
            )

            @inputPassword(
                signupForm("password.main"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. ",
                'class -> "span3"
            )
            
            @inputPassword(
                signupForm("password.confirm"), 
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again.",
                '_error -> signupForm.error("password"),
                'class -> "span3"
            )
            
        </fieldset>
        
        <fieldset>
            
            @checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> "I agree to the Terms and conditions",
                '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Sign Up">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}